ER309LSi
ER70S-6
ER70S-6 - Non Cu
Experimental Setup.pptx
GMAW_ER309LSi Summary.xlsx
Ni-WC_A_Castolin
Ni-WC_B_Sulzer
Ni-WC_C_Starck CTC 1.6
Ni-WC_D_Starck MTC 1.6
Ni-WC_E_Stoody
Ni-WC_F_Arctec FCS
Ni-WC_F_Starck MTC 2.0
Ni-WC_Summary.xlsx
Steel 1008
par_opt.mat
t.mat
u.mat
*.icloud
fig1/
fig2
s.mat
*.asv
backup data/
ref/